apiVersion: apps/v1
kind: Deployment
metadata:
  name: grpc-retry-fun
  namespace: somens
  labels:
    app: grpc-retry-fun
spec:
  replicas: 2
  selector:
    matchLabels:
      app: grpc-retry-fun
  template:
    metadata:
      labels:
        app: grpc-retry-fun
    spec:
      containers:
      - name: grpc-server
        image: grpc-retry-fun:1.0
        ports:
        - containerPort: 50051
          protocol: TCP
          name: grpc
        args:
        - "--port=50051"
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "200m"
        livenessProbe:
          tcpSocket:
            port: 50051
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          tcpSocket:
            port: 50051
          initialDelaySeconds: 5
          periodSeconds: 5
