apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: grpc-retry-fun-pdb
  namespace: somens
  labels:
    app: grpc-retry-fun
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: grpc-retry-fun
