apiVersion: v1
kind: ServiceAccount
metadata:
  name: grpc-retry-fun
  namespace: wtf
  labels:
    app.kubernetes.io/name: grpc-retry-fun
    app.kubernetes.io/instance: grpc-retry-fun
    app.kubernetes.io/managed-by: kubectl
  annotations:
    azure.workload.identity/client-id: "1234"
