apiVersion: v1
kind: Service
metadata:
  name: grpc-retry-fun
  namespace: somens
  labels:
    app: grpc-retry-fun
    component: grpc-server
spec:
  type: ClusterIP
  selector:
    app: grpc-retry-fun
  ports:
  - name: grpc
    port: 50051
    targetPort: grpc
    protocol: TCP
  sessionAffinity: None
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
