apiVersion: v1
kind: Service
metadata:
  name: grpc-retry-fun
  labels:
    app: grpc-retry-fun
spec:
  type: ClusterIP
  ports:
  - port: 50051
    targetPort: 50051
    protocol: TCP
    name: grpc
  selector:
    app: grpc-retry-fun
